<div class="topnav">
    <div class="dropdown">
        <button class="dropbtn">Tapahtumat
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <ul>
                <li *ngFor="let eventti of mediaService.events"><a [href]="">{{eventti.name.fi}}</a></li>
            </ul>
        </div>
        <input type="text" placeholder="Search..">
    </div>
    <a href="">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>

